<div class="color-bar">
    <p>Escoja el color de su cinturón</p>
    <div class="color-grid">
        <div class="color" style="background-color: #ff0000;" data-color="red"></div>
        <div class="color" style="background-color: #ff8000;" data-color="orange"></div>
        <div class="color" style="background-color: #ffff00;" data-color="yellow"></div>
        <div class="color" style="background-color: #80ff00;" data-color="lightgreen"></div>
        <div class="color" style="background-color: #00ff00;" data-color="green"></div>
        <div class="color" style="background-color: #00ff80;" data-color="lightblue"></div>
        <div class="color" style="background-color: #00ffff;" data-color="cyan"></div>
        <div class="color" style="background-color: #0080ff;" data-color="blue"></div>
        <div class="color" style="background-color: #0000ff;" data-color="darkblue"></div>
        <div class="color" style="background-color: #8000ff;" data-color="purple"></div>
        <div class="color" style="background-color: #ff00ff;" data-color="magenta"></div>
        <div class="color" style="background-color: #ff0080;" data-color="pink"></div>
        <!-- Añade más colores según sea necesario -->
    </div>
    <span id="selected-color-text">#ff0000</span>
</div>
